
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
}

body {
    background-color: #EAEEEF;

}
/* hr {
    
    height: 12px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.274);
    
    
} */

.logo-container {
    display: flex;
    margin-left: 2vw;
    position: fixed;
    top: 92vh;
}



.flex-container {
    display: flex;
    flex-direction: row;
}


.left-content {
    z-index: 1;

    margin-left: 1vw;
    margin-top: 1vh;
    
    margin-bottom: 1vh;

    background-image: url("../assets/img/snowy-bg-3.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   

    height: 95vh;   
    flex: 4;

    border-radius: 2%;

    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.582);     
    

}



.right-content {

    

    z-index: 0;
    
    background-color: #EAEEEF;
    
    height: 100vh;     
    flex:6;

    text-align: center;
}

.right-border {
    
    background-color: rgba(171, 219, 238, 0.438);

    position: relative;

    top: 10%;

    height: 80vh;

    margin: auto 10%;   
    
    
    
    border:5px solid rgb(80, 76, 76);
    border-radius: 3%;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.582); 

    transition: transform .2s;

}

.right-border:hover {   
    
    transform: scale(1.1);

}

div.top-logo {
    
    background-color: rgba(10, 10, 10, 0.712);
    border-radius: 10px;
    transition: transform .2s;

    
}
div.top-logo:Hover {
    
    transform: scale(1.1);

}

img.top-logo {
    margin-top: 5px;
      
    content: url("../assets/img/top-logo.png");
    max-width: 8vw;
    
    
}

img.github-logo {
    z-index: 3;
    top: 15px;
    right: 15px;
    position: absolute;

    filter: blur(0.8px);
    max-width: 1.5vw;
    content: url("../assets/img/github.png");
    transition:  transform .8s;
    


}

img.github-logo:hover {
    filter: blur(0);
    transform: scale(1.3);
}

div.hero-text {
    
    position: relative;

    top: 18vh;
    left: 2vw;
}


h1.hero-text {
    font-size: 3vw;
}

.right-heading-text{
    position: relative;
    top: -4vh;
    text-align: left;
    text-decoration: underline;
    font-size: 1vw;
}

.form {
    position: relative;
    
}

input, label {
    width: 20vw;
    text-align: left;
    display: block;
    transition: transform .2s;

}

input:hover {
    transform: scale(0.95);

}


section.left-form, section.right-form {
    
    float: left;
    margin-top: 2vh;
    margin-left: 2vw;
    
}


img.form-logo {
    filter: saturate(0);
    position: relative;
    margin: 2vw;
    max-width: 10vh;
    content: url("../assets/img/travel.png");
    transition: transform .2s;

}

img.form-logo:hover {
    transform: scale(1.2);

}

form>button.submit-button {
    font-size: large;
    width: 10vw;
    height: auto;
    margin: 3%;
    padding: 5px;
    background-color: #2C6296;
    color: #CFE6EF;
    border: none;
    border-radius: 5px;
    transition: transform .2s;
}



form>button.submit-button:hover {
    transform: scale(1.05);
}